.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    height: 100px;
    width: 100%;
    border: 2px solid blue;
    border-radius: 2px;
}